.album-covers {
  position: relative;
}

.collection-album-container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.collection-album-container .caption {
  margin-top: 10px;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.collection-album-container .caption:hover {
  margin-top: 10px;
  background-color: royalblue;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


.collection-album-container .caption p {
  font-size: 1rem;
  font-weight: 300;
  color: rblack;
}

.collection-album-container .caption p a {
  color: black;
}

.colleciton-album-container .caption p a.album-name {
  color: white;
}

.collection-album-container img {
  width: 80%;
}
